@model SISProject.ViewModel.Counts
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row small-spacing">
    <div class="col-sm-6 col-lg-3 col-xs-12">
        <div class="box-content">
            <h4 class="box-title text-primary">Students</h4>
            <!-- /.box-title -->
            <div class="dropdown js__drop_down">
                <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
                <!-- /.sub-menu -->
            </div>
            <!-- /.dropdown js__dropdown -->
            <div class="content widget-stat">
                <div id="traffic-sparkline-chart-3" class="left-content"></div>
                <!-- /#traffic-sparkline-chart-3 -->
                <div class="right-content">
                    <h2 class="counter text-primary">@Model.Student</h2>
                    <!-- /.counter -->
                    <a class="text text-primary" href="@Url.Action("Index","students")">View students</a>
                    <!-- /.text -->
                </div>
                <!-- .right-content -->
            </div>
            <!-- /.content widget-stat -->
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-sm-6 col-lg-3 col-xs-12 -->
    <div class="col-sm-6 col-lg-3 col-xs-12">
        <div class="box-content">
            <h4 class="box-title text-info">Teachers</h4>
            <!-- /.box-title -->
            <div class="dropdown js__drop_down">
                <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>

                <!-- /.sub-menu -->
            </div>
            <!-- /.dropdown js__dropdown -->
            <div class="content widget-stat">
                <div id="traffic-sparkline-chart-1" class="left-content margin-top-15"></div>
                <!-- /#traffic-sparkline-chart-1 -->
                <div class="right-content">
                    <h2 class="counter text-info">@Model.Teacher</h2>
                    <!-- /.counter -->
                    <a href="@Url.Action("index","teachers")" class="text text-info"> View Teachers</a>
                    <!-- /.text -->
                </div>
                <!-- .right-content -->
            </div>
            <!-- /.content widget-stat -->
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-sm-6 col-lg-3 col-xs-12 -->

    <div class="col-sm-6 col-lg-3 col-xs-12">
        <div class="box-content">
            <h4 class="box-title text-danger">Disabled Student</h4>
            <!-- /.box-title -->
            <div class="dropdown js__drop_down">
                <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>

                <!-- /.sub-menu -->
            </div>
            <!-- /.dropdown js__dropdown -->
            <div class="content widget-stat">
                <div id="traffic-sparkline-chart-2" class="left-content margin-top-10"></div>
                <!-- /#traffic-sparkline-chart-2 -->
                <div class="right-content">
                    <h2 class="counter text-danger">@Model.DisabledStudent</h2>
                    <!-- /.counter -->
                    <p class="text text-danger"> Disabled Student</p>
                    <!-- /.text -->
                </div>
                <!-- .right-content -->
            </div>
            <!-- /.content widget-stat -->
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-lg-4 col-xs-12 -->
    <!-- /.content widget-stat -->
</div>
<!-- /.box-content -->
<!-- /.col-sm-6 col-lg-3 col-xs-12 -->
