@model SISProject.Models.Notice
@{
    if (Session["Category"].ToString() == "SuperAdmin")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Category"].ToString() == "teacher")
    {
        Layout = "~/Views/Shared/_LayoutTeacher.cshtml";

    }
}

<style>
    table {
        border-collapse: collapse;
        witdh: 100%;
        border: 1px solid #tdd;
    }

    th, td {
        text-align: left;
        patding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">Details</div>

        <div class="panel-body">
            <table class="table table-responsive table-bordered">

                <tr class="dl-horizontal">
                    <td>
                        @Html.DisplayNameFor(model => model.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Title)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ShortDescription)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ShortDescription)
                    </td>
                    </tr>
                    <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.LongDescription)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.LongDescription)
                    </td>
              

</table>

        </div>
        <p>
            <center>
                @Html.ActionLink("Edit", "Edit", new { id = Model.NoticeId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-primary" })
            </center>
        </p>
        </div>
</div>
