@model IEnumerable<SISProject.Models.Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" href="assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
<div>
    <a href="@Url.Action("Create","Admins")" class="btn  btn-success">
        <i class="fa fa-plus"></i> Upload files
    </a>

</div>

<table class="table" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

                <td>
                    <a href="@Url.Action("Edit","Admins",new { id = item.Id })" class="btn btn-primary waves-effect waves-light">
                        <i class="ico ico-right fa fa-home"></i>Edit
                    </a>
                    |
                    <a href="@Url.Action("Details","Admins",new { id = item.Id })" class="btn btn-info waves-effect waves-light">
                        <i class="ico ico-right fa fa-info"></i>Details
                    </a> |
                    <a href="@Url.Action("Delete","Admins",new { id = item.Id })" class="btn btn-danger waves-effect waves-light">
                        <i class="ico ico-right fa fa-flash"></i>Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="assets/scripts/jquery.min.js"></script>

<!-- Full Screen Plugin -->
<!-- Data Tables -->
<script src="assets/plugin/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="assets/plugin/datatables/media/js/dataTables.bootstrap.min.js"></script>
<script src="assets/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
<script>
    $('#example').DataTable({
        "columnDefs": [

            { "orderable": false, "targets": 3 },
            { "orderable": false, "targets": 4 }



        ],

        "pageLength": 30,
        "bInfo": false,
        "dom": "Bfrtp",








    });

</script>
<script src="assets/scripts/main.min.js"></script>