@model SISProject.Models.student

@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
        border-collapse: collapse;
        witdh: 100%;
        border: 1px solid #tdd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">Details</div>

        <div class="panel-body">
            <table class="table table-responsive table-bordered">
                <tr>
                    <td>
                        Name
                    </td>

                    <td>
                        @Model.FirstName &nbsp; @Model.LastName
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Gender)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Gender)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Address)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Address)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.EnrollDate)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.EnrollDate)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.RollNo)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.RollNo)
                    </td>

                </tr>
</table>

        <p>
            <center>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-primary" })
            </center>
        </p>

</div>
</div>
    </div>